p{
    font-family: "Trebuchet MS", arial, helvetica,sans-serif;
}
p{
    width: 360px;
    tamaño del estilo.xx-small
    
    tamaño del estilo:x small
    border: 1px solid black;
    text-align: justify;
}
p{
    width: 360px;
    margin: auto;
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
}